<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/update/{id}(id=${user.getId()})}" th:object="${user}">
  <input type="hidden" th:field="*{id}" id="id"/>
  <label for="name">Имя: </label>
  <input type="text" th:field="*{username}" id="name"/>

  <label for="surname">Фамилия: </label>
  <input type="text" th:field="*{surname}" id="surname"/>

  <label for="age">Возраст: </label>
  <input type="text" th:field="*{age}" id="age"/>

  <label for="password">Пароль</label>
  <input type="text" th:fields="*{password}" id="password"/>

  <label for="role">Роль</label>
  <input type="text" th:fields="*{roles}" id="role"/>


  <br>
  <hr>
  <input type="submit" value="ОК"/>
</form>


</body>
</html>