<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
<form th:method="POST" th:action="@{/update/save}" th:object="${user}">
  <input type="hidden" th:field="*{id}" id="id"/>
  <label for="name">Имя: </label>
  <input type="text" th:field="*{username}" id="name"/>
<br/>
  <label for="surname">Фамилия: </label>
  <input type="text" th:field="*{surname}" id="surname"/>
<br/>
  <label for="age">Возраст: </label>
  <input type="text" th:field="*{age}" id="age"/>
<br/>
  <label for="password">Пароль</label>
  <input type="password" th:field="*{password}" id="password"/>
  <hr/>
  <hr/>

<br/>
<label for="role">Роль:</label>
  <div>
    <th:block th:each="role: ${roles}">
      <input type="checkbox" th:field="*{roles}"
      th:text="${role.name}" th:value="${role.id}" id="role">
    </th:block>
  </div>

  <br>
  <hr>
  <input type="submit" value="ОК"/>
</form>
</body>
</html>