<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/registration}" th:object="${user}">
  <label for="username">Почта</label>
  <input type="email" th:field="*{username}" id="username">
  <div style="color: red" th:if="${#fields.hasErrors('username')}" th:error="*{username}">Name Error</div>
  <br/>

  <label for="name">Имя</label>
  <input type="text" th:field="*{name}" id="name">
  </br>

  <label for="surname">Фамилия</label>
  <input type="text" th:field="*{surname}" id="surname">
  <br/>
  <label for="age">Возраст</label>
  <input type="text" th:field="*{age}" id="age">
  <br/>

  <label for="password">Пароль</label>
  <input type="password" th:field="*{password}" id="password">
  <br/>

  <label for="role">Роль:</label>
  <div>
    <th:block th:each="role: ${roles}">
      <input type="checkbox" th:field="*{roles}"
             th:text="${role.name}" th:value="${role.id}" id="role">
    </th:block>
  </div>

<br/>
  <hr/>
  <input type="submit" value="Sign up">
</form>

</body>
</html>